<h1 md-dialog-title *ngIf = 'hideTitleForm' (click) = 'showTitleForm()'>
  {{data.note.title}}
</h1>
<md-input-container *ngIf = '!hideTitleForm'>
  <input name = 'noteTitle'  [(ngModel)] = 'noteTitle' mdInput (blur) = 'editTitle()' autofocus>
</md-input-container>

<md-dialog-content *ngIf = 'hideDescriptionForm && data.note.description'>
  <p (click) = 'showDescriptionForm()'>{{noteDescription}}</p>
</md-dialog-content>
<button *ngIf="hideDescriptionForm && !data.note.description" md-button (click) = 'showDescriptionForm()'>Add description</button>

<md-input-container *ngIf = '!hideDescriptionForm'>
  <textarea name = 'noteDescription' [(ngModel)] = 'noteDescription' (blur) = 'addDescription()'  mdInput autofocus></textarea>
</md-input-container>

<md-dialog-actions>
  <button md-raised-button md-dialog-close (click) = 'deleteNote()'>Delete note</button>
</md-dialog-actions>
