<button *ngIf = 'formHidden' md-button (click)="showForm()" class="create-note-button">
  <ng-content></ng-content>
</button>
<md-card *ngIf="!formHidden">
  <form (ngSubmit) = "create()">
    <md-input-container>
      <input mdInput type="text" name = "title" [(ngModel)]="title" placeholder = "Title">
    </md-input-container>
    <button md-icon-button type="submit">
      <md-icon>done</md-icon>
    </button>
    <button md-icon-button (click) = "hideForm()">
      <md-icon>clear</md-icon>
    </button>
  </form>
</md-card>
