.app-header{
  background: #002984;
  padding: 5px;
}

.title{
  margin: 0 auto;
  text-align: center;
  width: 105px;
  padding: 2px;
  background: #757de8;
  border-radius: 2px;
  font-weight: 300;
}

