<header>
  <app-editable-text (textEdited)="editTitle($event)" [text]="list.title" class="list-title">
    {{list.title}}
  </app-editable-text>

  <button md-icon-button [mdMenuTriggerFor]="menu" class="menu-button">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu" xPosition="before">
    <button md-menu-item (click) = "deleteList()">
      <md-icon>delete</md-icon>
      <span>Delete list</span>
    </button>
    <button md-menu-item (click) = "openMoveListDialog()">
      <md-icon>forward</md-icon>
      <span>Move list</span>
    </button>
    <button md-menu-item (click) = "copyList()">
      <md-icon>content_copy</md-icon>
      <span>Copy list</span>
    </button>
  </md-menu>
</header>
<div [dragula]='"list"' [dragulaModel]='list.notes' class="list-wrapper">
  <div *ngFor = "let note of list.notes" [attr.data-item-id]="note.id">
    <a [routerLink] = "['./note', note.id]">
      <md-card class = "list-note">
        <md-card-content>{{note.title}}</md-card-content>
      </md-card>
    </a>
  </div>
</div>
<app-create-form (dataCreated)="createNote($event)">
  <span class="create-button">Create note...</span>
</app-create-form>


