<header>
  <app-editable-text (textEdited)="editTitle($event)" [text]="list.title">
    <md-card-title>{{list.title}}</md-card-title>
  </app-editable-text>

  <button md-icon-button [mdMenuTriggerFor]="menu" class="menu-button">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu" xPosition="before">
    <button md-menu-item (click) = "deleteList()">
      <md-icon>delete</md-icon>
      <span>Delete list</span>
    </button>
  </md-menu>
</header>

<a *ngFor = "let note of list.notes" [routerLink] = "['./note', note.id]">
  <md-card class = "list-note">
    <md-card-content>{{note.title}}</md-card-content>
  </md-card>
</a>

<app-create-form (dataCreated)="createNote($event)">
  <span>Create note...</span>
</app-create-form>


