header{
  display: flex;
}

header md-card-title{
  margin-bottom: 0;
  flex: 1;
}

.menu-button md-icon{
  vertical-align: inherit;
}

.list-note{
  margin-bottom: 5px;
}

.create-note-button{
  float: left;
  padding: 0;
}

