header{
  display: flex;
  justify-content: space-around;
}

.list-note{
  margin-bottom: 5px;
}

.delete-button{
  background-color: #90CAF9;
  margin-top: 5px;
  float: left;
  clear: both;
}

.create-note-button{
  float: left;
  padding: 0;
}

