header{
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  margin-bottom: 15px;
  background: #00acc1;
}

.board-title{
  flex: auto;
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 24px;
}

.menu-button md-icon{
  vertical-align: inherit;
}

.app-list{
  width: 260px;
  padding: 10px;
  border-radius: 5px;
  float: left;
  margin: 0 10px;
  background-color: #5ddef4;
  height: 100%;
}

.create-button {
  margin: 20px 15px;
  text-decoration: underline;
  display: inline-block;
  width: 260px;
}

.lists-wrapper {
  overflow-y: auto;
  display: flex;
}

.lists-wrapper > * {
  flex: none;
}
