<header>
  <app-editable-text (textEdited)="editTitle($event)" [text]="board.title" class="board-title">
    {{board.title}}
  </app-editable-text>

    <button md-icon-button [mdMenuTriggerFor]="menu" class="menu-button">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu" xPosition="before">
      <button md-menu-item (click) = "deleteBoard()">
        <md-icon>delete</md-icon>
        <span>Delete board</span>
      </button>
      <button md-menu-item (click) = "copyBoard()">
        <md-icon>content_copy</md-icon>
        <span>Copy board</span>
      </button>
    </md-menu>
</header>

<div class="lists-wrapper">
  <div *ngFor="let list of board.lists" class = "app-list">
    <app-list [list] = "list" (listDeleted) = "deleteList($event)"></app-list>
  </div>
  <app-create-form (dataCreated)="createList($event)">
    <span class="create-button">Create list...</span>
  </app-create-form>
</div>

<router-outlet></router-outlet>


