md-card{
  margin: 15px 0;
}

header{
  display: flex;
  margin: 0;
  align-items: center;
  vertical-align: middle;
  font-weight: 700;
}

button{
  opacity: 0.6;
}

md-progress-bar{
  margin-bottom: 10px;
}

app-editable-text{
  flex: auto;
}

.checklistItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 42px;
}

.checklistItem > button{
  display: none;
  margin: 0;
}

.checklistItem:hover > button{
  display: inline-block;
  margin: 0;
}
