@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #DCEDC8;
}

a{
  color: inherit;
  text-decoration: none;
}


.mat-input-infix {
  border-top: none !important;
}
